<div class="container mt-5">
  <div class="list-group">
        <a class="list-group-item" [routerLink]="['/register']">
            <i class="fa fa-user-plus fa-fw" aria-hidden="true"></i>&nbsp; Register User</a>
        <!--<a class="list-group-item" [routerLink]="['/exitsurveys']">
            <i class="fa fa-file fa-fw" aria-hidden="true"></i>&nbsp; Exit Survey</a>
        <a class="list-group-item" [routerLink]="['/gradseniorsurveys']">
            <i class="fa fa-graduation-cap fa-fw" aria-hidden="true"></i>&nbsp; Graduating Senior Survey</a>-->
        <a class="list-group-item" [routerLink]="['/members']">
            <i class="fa fa-user fa-fw" aria-hidden="true"></i>&nbsp; Members</a>
    </div>
</div>